package {{filter}};

import com.meimeitech.common.ComParams;
import {{util}}.UserContext;
import {{util}}.UserContextHolder;
import org.springframework.web.filter.OncePerRequestFilter;

import javax.servlet.FilterChain;
import javax.servlet.ServletException;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import java.io.IOException;

{{>generatedAnnotation}}
public class AuthenticationFilter extends OncePerRequestFilter {

    @Override
    protected void doFilterInternal(HttpServletRequest request, HttpServletResponse response,
                                    FilterChain filterChain) throws ServletException, IOException {
        final boolean debug = this.logger.isDebugEnabled();

        String userId = request.getParameter(ComParams.X_USERID);
        String loginName = request.getParameter(ComParams.X_LOGINNAME);
//        List<String> rolecode = request.getParameter(ComParams.X_ROLECODE);
        String mobile = request.getParameter(ComParams.X_MOBILE);

        if (userId == null) {
            filterChain.doFilter(request, response);
            return;
        }

        UserContext userContext = new UserContext();
        userContext.setId(Long.parseLong(userId));
        userContext.setLoginName(loginName);
//        userContext.setRoleNames();
        userContext.setMobile(mobile);

        if (debug) {
            this.logger.debug("Authentication success: " + userContext);
        }

        // 将用户绑定到当前线程
        UserContextHolder.setContext(userContext);

        filterChain.doFilter(request, response);
    }


}
